#coinsHere{
    display: flex;
    flex-wrap: wrap;
}
.coin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    line-height: 100px;
    text-align: center;
}

